[Desktop Entry]
Type=Application
Name=Phil Paint
GenericName=Paint Program
Comment=Layered bitmap paint program for Linux Wayland
Exec=phil-paint %F
Icon=dev.xgui4.PhilPaint
Terminal=false
Categories=GTK;Graphics;2DGraphics;RasterGraphics;
StartupNotify=true
StartupWMClass=phil-paint
MimeType=image/openraster;image/png;image/jpeg;image/bmp;image/gif;
Keywords=paint;draw;raster;
